#topbar {
    position: absolute;
    left: 0px;
    top: 0px;
    margin: 0px;
    width: 100%;
    height: 40px;
    background-color: rgb(37, 39, 122);
    color: white;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;  
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid #161925;
}

body {
    padding-top: 35px;
    color: white;
    background-color: rgb(13, 13, 13);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 10px;
}

input {
    background-color: rgb(39, 39, 39);
    border: solid rgb(79, 79, 79) 2px; 
    color: white;
    padding-left: 25px;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 0px;
    width: 500px;
    height: 50px;
    transition: 0.5s;
}

input:hover, textarea:hover {
    border: solid rgb(189, 189, 189) 2px;
    transition: 0.5s;
}

.container-check {
    width:fit-content;
    background-color: rgb(39, 39, 39);
    border: solid rgb(79, 79, 79) 2px; 
    color: white;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
}

.check {            /*Cases a cocher*/
    width: 20px;
    height: 20px;
    padding: 0;
    margin-top: 10px;
    line-height: normal;
    background-color: rgb(39, 39, 39);
    border: solid rgb(79, 79, 79) 2px; 
    appearance: none;        /* retire le style natif */
    -webkit-appearance: none;
    border-radius: 50%;
}

.check:checked {
    width: 20px;
    height: 20px;
    padding: 0;
    line-height: normal;
    background-color: rgb(212, 212, 212);
    border: solid rgb(39, 39, 39) 2px;     
    appearance: none;        /* retire le style natif */
    -webkit-appearance: none;
    border-radius: 50%;
}

textarea {
    background-color: rgb(39, 39, 39);
    border: solid rgb(79, 79, 79) 2px; 
    color: white;
    padding: 16px;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 0px;
    width: 500px;
    height: 250px;
    transition: 0.25s;
}

#envoyer {
    width: 200px;
    height: 42px;
    appearance: none;        /* retire le style natif */
    -webkit-appearance: none;
    background-color: rgb(25, 151, 21);
    border: none;
    border-radius: 10px;
    margin-top: 19px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    transition: 0.25s;
    font-size: 16px;
}

#envoyer:hover {
    background-color: rgb(25, 97, 22);
    transition: 0.25s;
}
